{{ define "equation" }}
    <div class="equation">
        <div class="type"><a>c</a></div>
        <div class="value"><a>300000000</a></div>
        <div class="unit"><a>m/s</a></div>
    </div>
{{ end }}